<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
   function logout(){
        fetch('./logout',{
            method:'GET'
        });
        window.location.replace('../');
   }
   

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="../HomePage/homePageStyle.css">
<link rel="stylesheet" href="../HomePage/congs.css">
<script src="../HomePage/homePageScribt.js" ></script>
<script src="../HomePage/congs.js" ></script>
<script>window.onload = onLoad;</script>
<script src="../loadingScribt.js"></script>
<%- include('loading.ejs') %>
<div class="home-page">

    <div class="upper-pannel shadow-lg " id="upper_pannel">
        <div class="img-profile" id="div_img_profile">
            <img onclick="animateBtn('profile_btn_id')"  id="avatar-profile-img" class="img-profile">
        </div>
        <div class="rigth-label-pannel" id="div_user_inf">
            <div style="display: flex;">
                <h1 class="label-txt"><%= data.username %></h1>
                
            </div>
            <div>
                <h2 class="coins-amount" id="coins_amount_a"><span id="coins_amount_a_number"><%= data.coins %></span>
                    <img style="height: 4vh;" src="../assets/free-coin-icon-794-thumb (1).png">
                </h2>
            </div>
        </div>

        <div class="panel-button position-absolute top-0 ">
            <button onclick="logout()" class="btn btn-danger">logout</button>
        </div>
        <div class="profile-page" id="profile_page">
            <div class="profile-page-upper-part">
                <div style="display: flex;justify-content: center;">
                    <h1 class="label-txt"><%= data.username %></h1>
                    
                </div>
                <div style="display: flex;justify-content: center;">
                    <h2 class="coins-amount" id="coins_amount_b"><span id="coins_amount_b_number"><%= data.coins %></span>
                        <img style="height: 4vh;" src="../assets/free-coin-icon-794-thumb (1).png">
                    </h2>
                </div>
            </div>
            <div class="profile-page-down-part">
                <div id="owned_avatars">
                    <div style="display: inline-flex;"><p style="font-size: 25px;" id="title_avatars_list"></p><button onclick="replaceStoreOwned()" style="right: 15px; position: absolute; margin-top: 0;" class="profile-btns" id="store_owned_btn"></button></div>
                    <div class="owned-div">
                        <ul class="list-avatars" id="list_avatars"> 
                            <li class="avatar-item">
                                <div style="width: 120px;height: 80px;"></div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="control-avatars-btns" id="control_btns">
                    <div id="cong_buy_div" ></div>
                    <button id="left_list_btn" style="left: 100px;" class="profile-btns" onclick="slideList(false)" style="bottom: 0px;" class="bi bi-arrow-left">
                        <i class="fa fa-arrow-left" aria-hidden="true" style="width: 10px;"></i>
                    </button>
              
                    <button  class="profile-btns" onclick="setSelectedAvatar()" id="set_selected_avatar_btn">set</button>
                    <button class="profile-btns" onclick="buySelectedAvatar()" id="buy_selected_avatar_btn" style="display: none;">buy</button>
                    <button  id="right_list_btn"  style="right: 100px;" class="profile-btns" onclick="slideList(true)"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                    
                </div>
                <div>
                    <button class="profile-btns" style="margin-top: 80px;" onclick="closeProfile()">close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative row justify-content-center" id="div_home_btns">
        <div class="home-article">
            <p class="home-article-p" id="article_txt_id"></p>
        </div>
        <button class="home-btn option-btn" onclick="animateBtn(id)" id="calendar_btn_id">Calendar</button>
        <button class="home-btn option-btn" onclick="animateBtn(id)" id="boards_btn_id">Boards</button>
        <button class="home-btn option-btn" onclick="animateBtn(id)" id="profile_btn_id">Profile</button>
        
    </div>
    <div class="position-absolute bottom-0 end-0">
        <img src="../assets/HomePage/speakingDuck.png" class="img-speaking-duck" id="speaking_duck">
        
        <button class="duck-btn home-btn" id="say-something" onclick="duckSaySomething()">let duck say something</button>
        <button id="closing_duck" onclick="closeDuck()" class="duck-btn home-btn">close</button>
    </div>
    <div>
        <div id="SpeechBubble">let me cook ...
            
        </div>
        
    </div>
    
</div>
<div class="information">
    <h3>to you:</h3>
    Feel free to explore the features, and if you have any feedback or suggestions, don't hesitate to reach out. I'm excited to have you on board!
    <h3 style="padding-top: 10px;">About us:</h3>
    Hello, I'm Bhaa Helo, the creator of this website. I'm passionate about productivity and organization, and that's why I built this platform focused on to-do lists.
    <h4 style="padding-top: 10px;">Contact information</h4>
    Email : bhaa.hillou@gmail.com .
</div>


